// -------------colors ------------//
$DARK_SHADE1: #1a253c;
$DARK_SHADE2: #303f60;
$DARK_SHADE3: #4d618e;
$SKYBLUE: #43afff;
$WHITE: #ffffff;
$LIGHT_BLUE_SHADE1: #edf6ff;
$LIGHT_BLUE_SHADE2: #43afff33;
$LIGHT_GRAY_SHADE1: #557da526;
$LIGHT_RED: #ff333380;
$DARK_RED: #ff0000;
