@import './colors.scss';

.form {
  padding: 10px;
}
.form_heading_wrapper {
  margin-bottom: 20px;
  font-size: 20px;
  h4 {
    color: $DARK_SHADE2;
  }
}
.form_group {
  width: 100% !important;
  padding: 12px;
}
.form_label {
  //   margin-top: 15px;
  margin-bottom: 10px;
  color: $DARK_SHADE2 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.form_input {
  width: 100% !important;
  border: 1px solid #c6c6c6;
  padding: 8px;
  border-radius: 8px;
}
.form_input_focused {
  border: 1px solid $SKYBLUE;
}
.form_textArea {
  width: 95% !important;
  border: 1px solid #c6c6c6;
  padding: 10px;
  border-radius: 8px;
}
.form_textArea:focus {
  border: 1px solid $SKYBLUE !important;
}
.forget_pwd_wrapper {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end;
  margin-top: 15px;
}
.sky_blue_text {
  font-weight: bold !important;
  color: $SKYBLUE;
  font-size: 14px;
  cursor: pointer;
}
.login_btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bottom_txt_wrapper {
  display: flex;
  justify-content: center;
  //   align-items: center;
}
.signup_btn_wrapper {
  display: flex;
  align-items: center;
}
.buttonIcons {
  font-size: 18px !important;
  color: $WHITE !important;
  margin-right: 5px;
}
.candidatebuttonIcons {
  font-size: 18px !important;
  color: #43afff !important;
  margin-right: 5px;
}
.candiadte_btn {
  background: #e8e8e833;
  border: 1px solid #c6c6c6 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.error_focused {
  border: 1px solid red;
}

.error {
  font-size: 13px;
  color: red;
  text-align: right;
  margin-top: 5px;
}
